.login {
    position: relative;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    height: 50%;
    left: 25%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popupWindow {
    display: none; /* Hidden by default */
    position: relative;
    left: 26.5%;
    width: 50%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    background-color: lightgoldenrodyellow;
}

.modal_close:hover, .modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div, h3 {
    text-align: center;
    position: relative;
    color: #039;

}

.option, .eachOption {
    position: relative;
    text-align: left;
    list-style-type: none;
}

.eachOption {
    text-indent: 40px;
}

.textOption {
    text-align: left;
    position: relative;
    margin-left: 40px;
}

.option {
    text-indent: 50px;
}

.questions {
    position: relative;
    text-align: left;
    text-indent: 60px;
    size: 20px;
}

#modalWindowHeader {
    text-align: right;
}

#modalWrapperUser.overlay:before, #modalWrapperQuiz.overlay:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
}

#modalWindowUser, #modalWindowQuiz {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    overflow: auto;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inputs {
    width: 60%
}

#modalWrapperUser.overlay #modalWindowUser {
    display: block;
}

#modalWrapperQuiz.overlay #modalWindowQuiz {
    display: block;
}

#hor-zebra {
    font-family: arial, sans-serif, bold;
    font-size: 16px;
    margin: 45px;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
}

caption, h2{
    font-family: arial, sans-serif, bold;
    font-size: 24px;
    text-align: center;
    position: relative;
    color: #039;
}

#hor-zebra th {
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 8px;
    color: #039;
    text-align: center;
    border-bottom: solid;
}

#hor-zebra tr {
    padding: 8px;
    color: #669;
    text-align: center;
    border-spacing: 2px;
    border-color: grey;
    padding: 20%;
}

#hor-zebra .odd {
    background: #e8edff;
}